*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: url('https://img.freepik.com/fotos-gratis/colagem-de-fundo-de-filme_23-2149876027.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #000000;
    line-height: 1.6;
    text-align: center;
}

header {
    background-color: #4e97d1; 
    color: white;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin: 0;
    font-weight: 700;
    font-size: 2rem; 
}

.navbar a {
    transition: color 0.5s ease, background-color 0.5s ease;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 30px;
    background: #d7e9f7; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.card {
    background: #87ceeb;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    max-width: 280px;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 15px 0;
    font-size: 1.25rem; 
    color: #333;
}

.card p {
    font-size: 0.9rem;
    color: #000000;
    margin: 0 10px 20px;
}