@import url('https://developer.mozilla.org/en-US/docs/Web/CSS/background-position');

body {
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapers.com/images/hd/minecraft-cloudy-sunrise-nature-xpc7uzwsfbga70xp.jpg'); /* Imagem de fundo aleatória */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center center; /* Centraliza a imagem */
    color: antiquewhite;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('https://wallpapers.com/images/hd/creeper-face-cool-minecraft-vgjes48klxwl7u5v.jpg'); /* Imagem de fundo do header */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.secao-form {
    background: #2600ff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

form input {
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #66487a;
    transition: border-color 0.3s;
    font-size: 1rem;
}

form button {
    padding: 12px;
    background-color: #4e97d1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

form button:hover {
    transition: background-color 0.03s transform;
    background-color: #3a7ba1;
}

.resultado_soma {
    color: #d7e9f7;
    font-size: large;
}

h1 {
    color: rgb(123, 131, 115);
    font-size: 2rem; 
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 30px;
    background: #d7e9f7; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}